
@media only screen and (min-width:900px) {
    .wrapper {
        margin: 5% 35%;
    }
}

@media only screen and (max-width:900px) {
    .wrapper {
        margin: 5% 20%;
    }
}

a {
    text-decoration: none;
    padding: 1%;
    border: 3px solid #11324D;
    color: #11324D;
    font-weight: 1000;
}
a:hover {
    background-color: #11324D;
    color: aliceblue;
}